:root {
    // fonts
    --color-font-main: #333333;
    --color-font-main: #AAAAAA;
    --color-font-main: #125BAE;
    --color-font-main: #E2EFFF;
    --color-font-main: #5A0488;

    // brand
    --color-brand: #7397F5;

    // borders & etc
    --color-border: #D5D5D5;
    --color-icons: #CBCBCB;
    --scroll-bar: #F2F2F2;
    --color-white: #FFFFFF;

}